.form-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.error {
  color: #e63946;
  padding-top: 4px;
  align-self: center;
  text-transform: capitalize;
}
